# Directory where gh-pages branch stores documentation.
# This entry is (is not) commented out on the gh-pages (master) branch.
# All the other entries in this file are the same on both branches.
/doc/
#
# files to ignore
/git_commit.sh
/lib/python/cppad_py/cppad_swig.py
/sphinx/index.rst
temp
temp.*
# soft links to ignore
/build
# directories to ignore
#
# build directories that /build links to
/build.debug/
/build.release/
#
# directory used for local testing
/cppad_py/
#
# directories used by setup.py
/cppad_py.egg-info/
/dist/
#
# direcotry where externals are built
/external/
#
# directories used to stash files
/new.*/
/new/
#
# directories use to build sphinx documentation on master branch
/sphinx/rst/
#
# extensions to ignore
*.log
*.swp
*.tmp
#
# files and directories created to run python examples
/example/python/mixed/debug.out
/example/python/check_all.py
__pycache__/
#
