# only on file
git_commit.sh
# only one directory
build
# compiled python files in specific directory
lib/python/*.pyc
# vi swap file in any directory
*.swp
*/*.swp
*/*/*.swp
#
# root file name is junk in any directory
junk
junk.*
*/junk
*/junk.*
*/*/junk
*/*/junk.*
# directory is new or new.* in any directory
new
new.*
*/new
*/new.*
*/*/new
*/*/new.*
